# === Backend ===
DB_HOST=localhost
DB_PORT=5432
DB_NAME=clubs_bd
DB_USER=postgres
DB_PASSWORD=
JWT_SECRET=
PORT=4000
ADMIN_CORREO=
ADMIN_SECRET=

# === Cloudinary (imágenes) ===
CLOUDINARY_URL=cloudinary://<tu_api_key>:<tu_api_secret>@<tu_cloud_name>

# === CORS ===
CORS_ORIGIN=http://localhost:5173
